.thumbs{
                                                                                                       border-radius: 50%;
                                                                                                   }

.thumbs :hover:after{

}

.disabledCross{
    display: none !important;
}


.visibleCross{
    display: flex !important;

}


.deleteAllButton
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.fa-minus-circle
{
    color:rgba(219,112,147,0.5);
}