{% extends "erase.html.twig" %}

{% block updateButtonLink %}{{ path('UpdateWax') }}
{% endblock %}

{% block pathSuccess %}{{path('Wax')}}{% endblock %}

{% block destroyItem %}

    <a href="{{ path('DestroyWax', {'basename':basename,'id': id ,'images_id': images_Id } ) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>

{% endblock destroyItem %}


{% block eraseThemeItem %}wax{% endblock eraseThemeItem %}
