{% extends "erase.html.twig" %}


{% block updateButtonLink %}{{path('UpdateDoudounes')}}{% endblock %}


{% block pathSuccess %}{{path('Doudounes')}}{% endblock %}

{% block eraseThemeItem %}doudounes{% endblock eraseThemeItem %}

{% block levelLinkEraseImageModal %}../{% endblock levelLinkEraseImageModal %}

{% block destroyItem %}

<a href="{{ path('DestroyDoudoune', {'basename' :basename,'id': id ,'images_id': images_Id } ) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>

{% endblock destroyItem %}
