{% extends "erase.html.twig" %}

{% block updateButtonLink %}{{ path('UpdateDelicious_Sev') }}
{% endblock %}

{% block pathSuccess %}{{path('Delicious_Sev')}}{% endblock %}

{% block destroyItem %}

    <a href="{{ path('DestroyDelicious_Sev', {'basename':basename,'id': id ,'images_id': images_Id } ) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>

{% endblock destroyItem %}

{% block eraseThemeItem %}delicious_sev{% endblock eraseThemeItem %}


{% block levelLinkEraseImageModal %}../{% endblock levelLinkEraseImageModal %}
