{% extends "eraseAll.html.twig" %}
{% block updateButtonLink %}{{ path('UpdateFursMen') }}
{% endblock %}

{% block pathSuccess %}{{path('FursMen')}}{% endblock %}

{% block eraseThemeItem %}fursMen{% endblock eraseThemeItem %}
{% block levelLinkEraseImageModal %}../{% endblock levelLinkEraseImageModal %}







{% block destroyItem %}

    <a href="{{ path('DestroyFursMenAll') }}"><button type="button" class="btn btn-danger">Supprimer</button></a>

{% endblock destroyItem %}