{% extends "erase.html.twig" %}

{% block updateButtonLink %}{{ path('UpdateFursMen') }}
{% endblock %}

{% block pathSuccess %}{{path('FursMen')}}{% endblock %}

{% block eraseThemeItem %}fursMen{% endblock %}

{% block levelLinkEraseImageModal %}../{% endblock %}


{% block destroyItem %}

    <a href="{{ path('DestroyFursMen', {'basename': basename,'id': id ,'images_id': images_Id } ) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>

{% endblock destroyItem %}