{% extends "erase.html.twig" %}

{% block updateButtonLink %}{{ path('UpdateFursMen') }}
{% endblock %}

{% block pathSuccess %}{{path('FursWomen')}}{% endblock %}

{% block destroyItem %}

    <a href="{{ path('DestroyFursMen', {'id': id ,'images_id': images_Id } ) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>

{% endblock destroyItem %}