{% extends "eraseAll.html.twig" %}
{% block updateButtonLink %}{{ path('UpdateFursWomen') }}
{% endblock %}

{% block pathSuccess %}{{path('FursWomen')}}{% endblock %}

{% block eraseThemeItem %}fursWomen{% endblock eraseThemeItem %}
{% block levelLinkEraseImageModal %}../{% endblock levelLinkEraseImageModal %}







{% block destroyItem %}

    <a href="{{ path('DestroyFursWomenAll') }}"><button type="button" class="btn btn-danger">Supprimer</button></a>

{% endblock destroyItem %}