{% extends "images/doudounes/doudounes.html.twig" %}

{% block title %}
    Erreur {{ status_code }}
{% endblock title %}

{% block main %}
    <div class="page-404">
        <h1>{{ status_code }}</h1>
        <p>{{ status_text }}</p>
        <a href="{{ path('/') }}" class="my-btn btn-go-home">
            back home


        </a>
        
        
    </div>
{% endblock main %}
